

#css-zen-garden .page-wrapper {
    background-image: url(../assets/branding/trees.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#zen-intro {
    background-image: url(../assets/logo.png);
    background-repeat: no-repeat;
    background-position-x: 7%;
    background-position-y: 25px;
}


@media only screen and (max-width: 600px) {
#zen-intro {
background-position-x: center;
}
}